# Ignore Python virtual environments
.venv/
venv/
env/

# Byte-compiled / cache files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/

# OS / editor files
.DS_Store
Thumbs.db
