# Python
__pycache__/
*.py[cod]
*.so
*.egg-info/
*.pyc

# virtual environments
.venv/
venv/
env/
myvenv/
*/.venv/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# JetBrains
/.idea/

# Jupyter
.ipynb_checkpoints/

# Logs
*.log

# other
.env
